<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <clear/>
        <!--<remove name="*" /> -->
        <!--<add name="sql" />  -->
        <!--<add name="harvester" />  -->
        <remove name="Default" />
      </listeners>
    </trace>

    <switches>
      <!--<add name="traceLevel" value="2" />-->
    </switches>

    <sharedListeners>
      <add name="xmlfile" type="System.Diagnostics.XmlWriterTraceListener" initializeData="XmlWriterOutput.svclog" />
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TextWriterOutput.log" />
      <add name="rollingxml" type="Essential.Diagnostics.RollingXmlTraceListener, Essential.Diagnostics" initializeData="{ApplicationName}.EssentialDiag.svclog" />
      <add name="sql" type="Essential.Diagnostics.SqlDatabaseTraceListener, Essential.Diagnostics" initializeData="diagnosticsdb" applicationName="MySqlTraceTestingApp" />
      <add name="harvester" type="Harvester.Integration.Diagnostics.HarvesterListener, Harvester.Integration.TraceListener, Version=2.1.0.0, Culture=neutral, PublicKeyToken=2335e074c59acad6" initializeData="Binding = \\.\pipe\Harvester; Buffer Type = NamedPipeBuffer; Mutex Name = Global\HarvesterMutex;" />
      <add name="estl" type="ElasticSearch.Diagnostics.ElasticSearchTraceListener, ElasticSearch.Diagnostics" ElasticSearchUri="http://myelastisearcher.domain.net:9200" ElasticSearchIndex="trace" ElasticSearchTraceIndex="trace" />
    </sharedListeners>

    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xmlfile" />
        </listeners>
      </source>
      <source name="System.Net" switchValue="Warning">
        <listeners>
          <add name="xmlfile" />
        </listeners>
      </source>
      <source name="MyTraceSource" switchValue="Verbose">
        <listeners>
          <clear />
          <add name="xmlfile" />
        </listeners>
      </source>
      <source name="MySecondTraceSource" switchValue="Verbose">
        <listeners>
          <clear />
          <add name="xmlfile" />
        </listeners>
      </source>
      <source name="TraceListenerRtf" switchValue="Verbose">
        <listeners>
          <clear />
          <add name="xmlfile" />
        </listeners>
      </source>
      <source name="JkhSettings" switchValue="Verbose">
        <listeners>
          <clear />
          <add name="xmlfile" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  
</configuration>
